.about {
  background-color: #F4F4F4;
  padding-top: 60px;

  @include desktop {
    padding-top: 70px;
    padding-bottom: 71px;
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: $secondary-color;
    margin-bottom: 32px;

    @include tablet {
      color: $secondary-color;
      font-weight: bold;
      font-size: 42px;
      line-height: 44px;
      margin: 0 auto;
      padding-bottom: 60px;
    }
  }

  .about-list {
    @include desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px;
    }

    &__item {
      padding-bottom: 38px;

      @include tablet {
        display: flex;
        align-items: center;
      }

      @include desktop {
        padding-bottom: 15px;
      }
    }

    &__icon {
      padding-top: 36px;
      padding-bottom: 23px;
      text-align: center;

      @include tablet {
        padding: 0;
        width: 15%;
      }
      @include desktop {
        width: 20%;
      }
    }

    &__title {
      color: #323232;
      font-size: 16px;
      line-height: 16px;
      padding-bottom: 16px;
      display: block;
      text-align: center;

      @include tablet {
        color: #323232;
        font-size: 16px;
        line-height: 21px;
        text-align: left;
      }

      @include desktop {
        color: #323232;
        font-size: 16px;
        line-height: 21px;
      }

    }

    &__text {
      color: #848E97;
      font-size: 14px;
      line-height: 21px;
      text-align: center;

      @include tablet {
        color: #848E97;
        font-size: 14px;
        line-height: 21px;
        text-align: left;
      }

      @include desktop {
        color: #848E97;
        font-size: 14px;
        line-height: 21px;
      }
    }

    &__content {
      @include tablet {
        padding-left: 25px;
        width: 85%;
      }
      @include tablet {
         width: 80%;
      }
    }
  }
}