.nav {

    @include desktop {
        display: flex;
        align-items: center;
    }

    &__buy-now-btn {
        font-weight: bold;
        font-size: 15px;
        color: $primary-color;
        line-height: 15px;
        background: $secondary-color;
        border-radius: 40px;
        padding: 10px 17px;
        border: none;
        font-family: 'Montserrat',
            sans-serif;
        cursor: pointer;
        transition: color .2s linear;

        @include desktop {
            width: 145px;
        }

        &:hover {
            @include desktop {
                color: $secondary-color;
                background: $primary-color;
                border: 1px solid $secondary-color;
            }
        }
    }


}


.nav-list {
    display: none;
    position: absolute;
    width: 300px;
    right: 0;
    top: 70px;
    background: #333333;
    z-index: 1000;

    @include tablet {
        width: 100%;
        display: block;
        display: flex;
        background: none;
        justify-content: center;
        top: 65px;
    }

    @include desktop {
        position: static;
    }

    &.active {
        display: block;
    }

    &__link {
        display: block;
        font-size: 26px;
        line-height: 26px;
        color: $primary-color;
        padding: 25px 0 20px 35px;
        border-bottom: 3px solid #3B3B3B;
        position: relative;
        transition: color .2s linear;

        @include tablet {
            border-bottom: none;
            padding: 0;
            margin: 0 25px;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            color: $secondary-color;
        }

        &:hover {
            @include desktop {
                color: $primary-color;
            }
        }

        &:focus {
            color: $secondary-color;
        }

        &:focus::before {
            content: "";
            display: block;
            width: 8px;
            height: 53px;
            background-color: $secondary-color;
            position: absolute;
            left: 0;
            top: 10px;

            @include tablet {
                display: none;
            }
        }
    }
}