.price {
  background-color: #4a3b4e;
  max-width: 100%;
  padding-bottom: 10px;

  @include tablet {
    display: block;
  }
}

.price-title {
  display: block;
  color: $primary-color;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;
  margin-bottom: 14px;
  padding-top: 15px;

  @include tablet {
    padding-top: 88px;
    margin-bottom: 39px;
  }

  @include desktop {
    padding-top: 112px;
    margin-bottom: 61px;
  }
}

.price-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  grid-gap: 15px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    text-align: center;
    width: 257px;
    min-height: 457px;
    background-color: #5f5161;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;

    @include tablet {
      margin: 0 0 0 auto;

      &:nth-child(even) {
        margin: 0 auto 0 0;
      }
    }

    @include desktop {
      margin: 0 auto;

      &:nth-child(even) {
        margin: 0 auto;
      }
    }

    &--big {
      width: 299px;
      min-height: 560px;
      background-color: #473249;
    }
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 97px;
    background-color: #695b6a;
    align-items: center;
    color: $primary-color;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;

    &--big {
      background-color: #3f2d41;
      height: 111px;
    }
  }

  &__main {
    width: 100%;
    display: block;
    padding: 0 20px;


  }


  &__text {
    align-items: center;
    text-align: center;
    color: $primary-color;
    line-height: 18px;
    margin-bottom: 50px;

    &--big {
      margin-bottom: 100px;
    }
  }

  &__price {
    margin-top: 30px;
    display: block;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 84px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;

    &--big {
      font-size: 82px;
      line-height: 84px;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: $primary-color;
    }
  }

  &__period {
    align-items: center;
    text-transform: uppercase;
    color: $primary-color;
  }

  &__divider {
    width: 60px;
    height: 5px;
    display: block;
    margin: 38px auto 30px;
    background-color: $secondary-color;

    &--big {
      margin: 46px auto 40px;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15px;
    background-color: #695b6a;
    padding: 15px 15px;
    border-radius: 30px
  }
}