.reviews {
    background: url(./img/reviews/reviews-bg.png) center no-repeat;
    background-size: cover;
    padding-top: 57px;

    @include tablet {
        padding-top: 85px;
    }

    @include desktop {
        padding-top: 108px;
    }

    &__text {
        font-family: $lato;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #A291A5;
        padding-top: 37px;
        max-width: 900px;
        margin: 0 auto;

        @include tablet {
            padding-top: 68px;
        }

        @include desktop {
            padding-top: 110px;
        }

        &::after {
            content: "";
            display: block;
            width: 80%;
            height: 2px;
            background: #645766;
            margin: 0 auto;
            margin-top: 20px;

        }
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        color: $primary-color;
        margin-bottom: 53px;

        @include tablet {
            font-size: 42px;
            margin-bottom: 80px;
        }

        @include desktop {
            font-size: 48px;
        }
    }
}

.reviews-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 45px;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 60px;
        grid-column-gap: 60px;
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 110px;
        grid-column-gap: 87px;
    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &__text {
        font-family: $lato;
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $primary-color;
        padding-top: 25px;
    }
}