.revolution {
  padding-bottom: 80px;
  padding-top: 79px;

  @include tablet {
    padding-top: 94px;
  }

  @include desktop {
    padding-top: 76px;
  }

  &__title {
    color: #635C73;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    margin-bottom: 36px;

    @include tablet {
      text-align: center;
      font-weight: bold;
      font-size: 42px;
      color: #635C73;

    }

    @include desktop {
      text-align: center;
      font-weight: bold;
      font-size: 54px;
      color: #635C73;
    }
  }
  &__text {
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 36px;

    @include tablet {
      font-size: 21px;
      line-height: 32px;
    }

    @include desktop {
      font-size: 21px;
      line-height: 32px;
    }
  }
}

.revolution-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    padding: 3px 0 3px 6px;
    font-weight: bold;
    color: #323232;
    cursor: pointer;
    margin: 6px;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
  }

  &__item::after {
    content: "1,397";
    padding: 3px 6px;
    background-color: #fff;
    margin-left: 6px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__item:nth-child(2)::after {
    content: "21,038";
  }

  &__item:nth-child(3)::after {
    content: "4,391";
  }
}