@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./header.scss";
@import "./nav.scss";
@import "./burger-menu.scss";
@import "./intro.scss";
@import "./reviews.scss";
@import "price.scss";
@import "about.scss";
@import "revolution.scss";

body {
    font-family: 'Montserrat',
        sans-serif;
}


.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}